NEXT_PUBLIC_ALCHEMY_ID="123124"
FAUCET_PRIVATE_KEY="abc..."

# S3 Storage configuration
S3_CREDENTIALS_PATH="./creds.s3"
S3_BUCKET_NAME="ru-medusa-demo"
S3_FORCE_PATH_STYLE="true"
S3_PUBLIC_URL="https://storage.googleapis.com"

# Holesky Contract Addresses
NEXT_PUBLIC_ONLYFILES_ADDRESS="0x5567aca23bE9a5899010a4D3fA83b9da2B947256"
NEXT_PUBLIC_ORACLE_ADDRESS="0xb0C60D71432829021525995249538353b148ED30"
NEXT_PUBLIC_CHAIN_ID="17000"
