@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-secondary {
        @apply bg-light-primary text-light-primary border-light-secondary hover:bg-gray-500 dark:bg-off-white dark:text-dark-primary dark:border-dark-primary hover:dark:bg-dark-primary hover:dark:text-off-white hover:dark:border-off-white hover:cursor-pointer py-2 px-4 border-2 rounded transition-colors;
    }
    .btn-primary {
        @apply bg-light-primary text-light-primary border-light-secondary
               hover:bg-gray-500
               dark:bg-dark-secondary dark:text-off-white dark:border-off-white
               hover:dark:bg-off-white hover:dark:text-dark-secondary hover:dark:border-off-white
               hover:cursor-pointer py-2 px-4 border-2 rounded transition-colors;
    }
}
